.Pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.Pagination button {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border-radius: 16px;
    border: 0;
}

.BackButton, .NextButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.BackButton {
    transform: scaleX(-1);
}

.selected {
    background: rgba(0, 0, 0, 0.08) !important;
    font-weight: bold;
}

.Pagination button:hover:enabled {
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer;
}